
@keyframes background-color-change {
    0%{
        background-color: #ffffff;
    }
    50%{
        background-color: #000;
      } 
    100% {
        background-color: #ffffff;
    } 
}

@keyframes title-color-change {
    0%{
        color: #000;
    }
    50%{
        color: #ffffff;
      } 
    100% {
        color: #000;
    } 
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

body{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-top: 50px;
}


.header{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 300px;
    border-radius: 10px;
    border: solid 4px #000;
    box-shadow: 5px 5px  5px #000;
    animation: background-color-change 25s infinite;
}

.header .title{
    padding: 35px;
}

.header h1{
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 50px;
    margin: 0px;
    letter-spacing: 2px;
    animation: title-color-change 25s infinite;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    padding-bottom: 0px;
    background-color: #011522;
    border: solid 10px #000;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #000;
}
   
   
.tools {
    display: flex;
    justify-content: space-around;
    width: 400px;
    padding: 9px;
    margin: 10px;
    gap: 15px;

}
   
   
.tools-button {
    background-color: #fff;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    box-shadow: 0 0 50px 20px rgba(0, 0, 0, .1);
    line-height: 1;
   
}
.tools-button.new-grid:hover{
    animation: spin infinite linear 1s;
}

.input {
    display: none;
}

.icon {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    transition: transform 500ms;
}
  
.icon-moon {
    transition-delay: 200ms;
}
  
.icon-rainbow {
    transform: scale(0);
}
  
.rainbow-switch #switch:checked + .icon-moon {
    transform: rotate(360deg) scale(0);
}
  
.rainbow-switch #switch:checked ~ .icon-rainbow {
    transition-delay: 200ms;
    transform: scale(1) rotate(360deg);
}


   
.grid-container{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    background-color: #ffffff;


}

.grid{
    width: calc(100% / 16); 
    height: calc(100% / 16); 
}


.error-active{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    height: 34px;
    width: auto;
    border: none;
    background: #ff362b34;
    border-radius: 20px;
    font-weight: bold;
    font-size: 17px;
    color: #FF342B;
    font-family: "Courier New", Courier, monospace;
    letter-spacing: 1px;
}



  
