
@keyframes background-color-change {
    0%{
        background-color: #ffffff;
    }
    50%{
        background-color: #000;
      } 
    100% {
        background-color: #ffffff;
    } 
}

@keyframes title-color-change {
    0%{
        color: #000;
    }
    50%{
        color: #ffffff;
      } 
    100% {
        color: #000;
    } 
}

@keyframes exit-shadow-color-change {
    0%{
        box-shadow: 2px 2px 15px rgb(0, 0, 0);

    }
    50%{
        box-shadow: 2px 2px 15px rgb(255, 255, 255);

      } 
    100% {
        box-shadow: 2px 2px 15px rgb(0, 0, 0);

    } 
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes side-by-side {
    0% {
      transform: translateX(0px);
    }
    25%{
       transform: translateX(-5px);
    }
    50% {
      transform: translateX(0px);
    }
    75% {
        transform: translateX(5px);
      }
    100% {
      transform: translateX(0px);
    }
  }

body{
    display: flex;
    min-height: 100vh; 
    justify-content: center; 
    align-items: center; 
    margin: 0; 
    gap: 30vh;
}


.header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    width: 300px;
    border-radius: 10px;
    border: solid 4px #000;
    box-shadow: 5px 5px  5px #000;
    animation: background-color-change 25s infinite;
}

.header .title{
    padding: 35px;
}

.header h1{
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 50px;
    margin: 0px;
    letter-spacing: 2px;
    animation: title-color-change 25s infinite;
}

a {
    text-decoration: none;
}


.exit-button {
    display: flex;
    align-items: center;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    animation: exit-shadow-color-change 25s infinite;
    background-color: white;
    transition-duration: .3s;
  }
  
  .sign {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition-duration: .3s;
  }
  
  .runner{
    opacity: 0;
    width: 0%;
    transition-duration: .3s;
    
  }
  
  
  .exit-text {
    opacity: 0;
    width: 0%;
    font-family: "Courier New", Courier, monospace;
    color: black;
    font-size: 20px;
    font-weight: bold;
    transition-duration: .3s;
  }
  
  .exit-button:hover {
    width: 120px;
    border-radius: 40px;
  }
  
  .exit-button:hover .sign {
    padding-left: 10px;
  }
  
  .exit-button:hover .runner {
    opacity: 1;
    width: 70%;
    padding-right: 12px;
  }
  
  .exit-button:hover .exit-text {
    opacity: 1;
    width: 70%;
    padding-right: 20px;
  }
  
  .exit-button:active {
    transform: translate(2px ,2px);
  }

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    padding-bottom: 0px;
    background-color: #011522;
    border: solid 10px #000;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #000;
}
   
   
.tools {
    display: flex;
    justify-content: space-around;
    width: 400px;
    padding: 9px;
    margin: 10px;
    gap: 15px;

}
   
   
.tools-button {
    background-color: #fff;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    box-shadow: 0 0 50px 20px rgba(0, 0, 0, .1);
    line-height: 1;
   
}
.tools-button.new-grid:hover{
    animation: spin infinite linear 1s;
}

.sparkles{
    opacity: 0;
    transform: rotate(180deg);
}

.tools-button.clean-grid:hover svg{
    animation: side-by-side infinite linear 0.65s;
}

.tools-button.clean-grid:hover .sparkles{
    opacity: 100%;
}


.input {
    display: none;
}

.icon {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    transition: transform 500ms;
}
  
.icon-moon {
    transition-delay: 200ms;
}
  
.icon-rainbow {
    transform: scale(0);
}
  
.rainbow-switch #switch:checked + .icon-moon {
    transform: rotate(360deg) scale(0);
}
  
.rainbow-switch #switch:checked ~ .icon-rainbow {
    transition-delay: 200ms;
    transform: scale(1) rotate(360deg);
}


   
.grid-container{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    background-color: #ffffff;


}

.grid{
    width: calc(100% / 16); 
    height: calc(100% / 16); 
    cursor: crosshair;
}


.error-active{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    height: 34px;
    width: auto;
    border: none;
    background: #ff362b34;
    border-radius: 20px;
    font-weight: bold;
    font-size: 17px;
    color: #FF342B;
    font-family: "Courier New", Courier, monospace;
    letter-spacing: 1px;
}



  
