/* this is some magical font-importing.  
you'll learn about it later. */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@keyframes blinkCursor {
  50% {
    border-right-color: transparent;
  }
}

@keyframes typeAndDelete {
  0%,
  10% {
    width: 0;
  }
  45%,
  55% {
    width: 300px;
  }
  90%,
  100% {
    width: 0;
  }
}

@keyframes blink {
  0%, 100%{
    color: var(--home-bg-color);
  }
  50%{
    color: #f0e3d000;
  }
}

* {
  margin: 0;
  padding: 0;
}
body,
html {
  --home-bg-color: #f0e3d0;
  --projects-bg-color: #efdcc1;
  height: 100%;
  overflow: hidden;
}

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-style: normal;
}

nav {
  text-align: right;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: #000;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: var(--home-bg-color);
  font-size: 1vw;
  display: block;
  text-decoration: none;
  padding: 0.5vw;
  padding-top: 0.6vw;
  padding-bottom: 0.6vw;
}

#navs{
  margin-right: 7vw;
}


#icon{
  margin-right: 15vw;
}

#time{
  font-size: 1vw;
  color: var(--home-bg-color);
  margin-right: 35vw;
}



#blinking-colon {
  animation: blink 1s linear infinite;
}

section{
  height:100%;
  width:100%;
  display:table;
  pointer-events:none;
  z-index:0;
  transition: transform 0.45s cubic-bezier(0,0,0.21,1);
}
section h1{
  display:table-cell;
  vertical-align:middle;
  text-align:center;
  color:#fff;
  font-weight:100;
  font-size:90px;
}

#home{
  padding-top: 1vw;
  margin: 0;
  background-color: var(--home-bg-color);
}


.header{
  display: flex;
  justify-content: center;
  width: 100vw;
}

.header img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}


.subheader {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding-top: 3vw;
  padding-bottom: 1vw;
  padding-left: 3vw;
  margin: 1vw;
}

.subheader .title{
  color: #000000;
  font-weight: 400;
  font-size: 7vw;
  letter-spacing: 0;
  line-height: 0.9;
  word-spacing: -1vw;
  padding-bottom: 2.5vw;
  
}

.subheader p{
  color: #000000;
  font-size: 1vw;
  text-align: left; 
}

#about{
  background:#eaac7f;
 }


#projects{
  background-color: var(--projects-bg-color);
}


.content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1vw;
  font-weight: 500;  
  padding: 2vw;
  text-align: center;
}


.content img {
  width: 10vw;
  height: 10vw;
  object-fit: cover;
  border: 0.25vw solid #000000;
  border-radius: 15px;
  margin: 5px 20px 0px 20px;
  pointer-events: visible;
  background: #fff;

}

.content p{
  font-size: 0.8vw;
}



#contact{
  background:#99bbad;
}

a[id="home"]:target ~ #home{
  transform:translate3d(0,0,0);
}
a[id="about"]:target ~ #about{
  transform:translate3d(0,-100%,0);
}
a[id="projects"]:target ~ #projects{
  transform:translate3d(0,-200%,0);
}
a[id="contact"]:target ~ #contact{
  transform:translate3d(0,-300%,0);
}
