/* this is some magical font-importing.  
you'll learn about it later. */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


@keyframes blinkCursor {
  50% {
    border-right-color: transparent;
  }
}


@keyframes blink {
  0%, 100%{
    color: var(--home-bg-color);
  }
  50%{
    color: #f0e3d000;
  }
}

@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: -3.7vw;}
  30% {margin-top: -3.2vw;}

  40% {margin-top: -8.2vw;}
  60% {margin-top: -7.7vw;}


  70% {margin-top: -2.7vw;}
  80% {margin-top: -3.2vw;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
}

@keyframes wave-animation {
  0% { transform: rotate( 0.0deg); }
 10% { transform: rotate(14.0deg); }  
 20% { transform: rotate(-8.0deg); }
 30% { transform: rotate(14.0deg); }
 40% { transform: rotate(-4.0deg); }
 50% { transform: rotate(10.0deg); }
 60% { transform: rotate( 0.0deg); } 
100% { transform: rotate( 0.0deg); }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    display: none;
  }
  to {
    opacity: 1;
  }
}


@keyframes iconRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(130%);
  }
}

@keyframes textUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-125%);
  }
}

@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes scroll-down {
  0%, 100% {
    transform: translateY(0);
    opacity: 1;
  }

  35% {
    transform: translateY(1vw);
    opacity: 0;
  }

  70% {
    transform: translateY(-1vw);
    opacity: 0;
  }
}

@keyframes move-fade {
  0% {
    opacity: 0;
    transform: rotate(-45deg) translate(-1vw, -1vw);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(-45deg) translate(45vw, 45vw);
  }
}

* {
  margin: 0;
  padding: 0;
}
body,
html {
  --home-bg-color: #f0e3d0;
  --projects-bg-color: #7272724d;;
  --about-bg-color: #eaac7f;
  height: 100%;
  overflow: hidden;
}

.curtain{
  display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #18191f;
    z-index: 1000;
}

.fade-out {
  animation: fadeOut 1.5s ease forwards;
}

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-style: normal;
}

.source-code-font{
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}


.main--nav {
  text-align: right;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: #000;
}

.main--nav ul li {
  display: inline-block;
}

.main--nav ul li a {
  color: var(--home-bg-color);
  font-size: 1.2vw;
  display: block;
  text-decoration: none;
  padding: 0.5vw;
  padding-top: 0.6vw;
  padding-bottom: 0.6vw;
}

#navs{
  margin-right: 3vw;
}


#icon{
  margin-right: 7vw;
}


.waviy span {
  display: inline-block;
  animation: flip 3s infinite;
  animation-delay: calc(.2s * var(--i))
}


#time{
  font-size: 1vw;
  color: var(--home-bg-color);
  margin-right: 33vw;
}



#blinking-colon {
  animation: blink 1s linear infinite;
}

section#home, 
section#about,
section#projects,
section#contact{
  height:100%;
  width:100%;
  display:table;
  pointer-events:none;
  z-index:0;
  transition: transform 0.45s cubic-bezier(0,0,0.21,1);
}

section#contact h1{
  display:table-cell;
  vertical-align:middle;
  text-align:center;
  color:#fff;
  font-weight:100;
  font-size:10vw;
}

#home{
  padding-top: -1vw;
  margin: 0;
  background-color: var(--home-bg-color);
}


.header{
  display: flex;
  justify-content: center;
  width: 100vw;
}

.header img{
    width: 100%;
    object-fit: contain;
    border: solid 0.65vw black;
    
}


.subheader {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 3vw;
  padding-bottom: 1vw;
  padding-left: 3vw;
}

.subheader .title{
  color: #000000;
  font-weight: 400;
  font-size: 7vw;
  letter-spacing: 0;
  line-height: 0.9;
  word-spacing: -1vw;
  padding-bottom: 2.5vw;
  
}

.subheader p{
  color: #000000;
  font-size: 1vw;
  text-align: left; 
}


.me-anim {
  color: #e5e5e5;
  text-transform: uppercase;
  display: flex;
  overflow: hidden;
  height: 6vw;
}

#wave {
  transform-origin: 70% 70%;   
  display: inline-block;
  animation: wave-animation 2.5s infinite;        

}

.me-anim p {
  font-size: 4.5vw;
  width: 35vw;
}

#home .subheader .animation > div > div {
  font-size: 4.5vw;
  padding: 0.3vw 0.5vw;
  height: 4.5vw;
  margin-bottom: 4.5vw;
  display:inline-block;
}

#home .subheader .animation div:first-child {
  animation: text-animation 8s infinite;
}

#home .subheader .first div {
  color:#20a7d8;
}
#home .subheader .second div {
  color:#CD921E;
}
#home .subheader .third div {
  color:#c10528;
}

#home .bio{
  margin-top: 3vw;
  font-size: 1.5vw;
  margin-bottom: 2vw;
}


#about{
  background: var(--about-bg-color);
 }

 .about--body{
  display: flex;
  pointer-events: visible;
  height: 100%;
  }

  .about--navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    width: 17vw;
    height: 100%;
    margin-top: 1vw;
    gap: 4vw;
    background-image: url(../images/about-intro.jpg);
    transition: background-image 0.5s ease-in-out; 
  }


  .input {
    -webkit-appearance: none;
    width: 2vw;
    height: 2vw;
    border-radius: 1vw;
    cursor: pointer;
    background-color: var(--about-bg-color);
    background-image: -webkit-radial-gradient( 
      hsla(200, 100%, 100%, 1) 0%, 
      hsla(200, 100%, 100%, 1) 15%, 
      hsla(200, 100%, 100%, 0.3) 28%, 
      hsla(200, 100%, 100%, 0) 70% 
    );
    background-repeat: no-repeat;
    -webkit-transition: background-position .15s cubic-bezier(.8, 0, 1, 1),
      -webkit-transform .25s cubic-bezier(.8, 0, 1, 1);
    outline: none;
  }
  
  .input:checked {
    -webkit-transition: background-position .2s .15s cubic-bezier(0, 0, .2, 1),
      -webkit-transform .25s cubic-bezier(0, 0, .2, 1);
  }

  .input:hover {
    transform: scale(1.3);
    transition-duration: 0.5s;
  }
  
  .input,
  .input:active {
    background-position: 0 2vw;
  }
  
  .input:checked {
    transform: scale(1.3);
    background-position: 0 0;
  }
  
  .input:checked ~ .input,
  .input:checked ~ .input:active {
    background-position: 0 -2vw;
  }
  

.about--navigation input:first-child {
  margin-top: 10vw;
}

.about--content {
  width: 83vw;
  display: flex;
  margin-top: 1.6vw;
  height: 100%;
  overflow: hidden;
}



.about--content > div > div{
  display:flex;
  width: 83vw;
  height: 8vw;
}
.about--content > div:first-child{
  transition: margin-left 1s ease; 
}


.about--content .left{
  display: flex;
  width: 100%;
  height: 46vw;
  flex-direction: column;
  padding: 3vw;
  padding-top: 3vw;
}


.about--content .right{
  display: flex;
  width: 100%;
  height: 46vw;
  flex-direction: column;
}

.lineUp {
  animation: 2s anim-lineUp ease-out;
}


.about--content .intro{
  background-color: #f6c3b4;
}

.intro .title{
  font-size: 5vw;
  line-height: 4vw;
  margin-bottom: 2vw;
}

.intro .subtitle{
  font-size: 3vw;
  margin-bottom: 2vw;
  font-weight: bolder;
}

.intro .bio{
  margin-top: 0vw;
  font-size: 2vw;
  font-weight: bolder;
}

.intro .right{
  height: 48vw;
  background-image: url(../images/intro-right-3.jpg);
  object-fit: cover;
  background-size: 100% 110%;
}

.about--content .education{
  background-color: #8fa5c4d1;
}

.education .left{
  background-image: url(../images/education-left.jpg);
  object-fit: cover;
  background-size: 100% 110%;
}

.education .right{
  display: flex;
  flex-direction: column;
  padding: 3vw;
  padding-top: 3vw;

  background-image: url(../images/education-right.jpg);
  object-fit: cover;
  background-size: 150% 110%;
}

.education .title{
  font-size: 4vw;
  line-height: 4vw;
  margin-bottom: 2vw;
}

.education .subtitle{
  font-size: 1.5vw;
  margin-bottom: 1vw;  
}

#gray{
  color: #ffffffcc
}

#dark--gray{
  color: #00000075
}

#darkerer--gray{
  color: #2f292a
}


#red{
  color: #a83437;
}

#blue{
  color: #45696b;
}

#yellow{
  color: #c0973d;
}

#green{
  color: #6f852b;
}


.experience .title{
  font-size: 8vw;
  line-height: 4vw;
  margin-bottom: 3vw;
}

.experience .subtitle{
  font-size: 2vw;
  margin-bottom: 1vw;  
}



.red {
  background-color: #aab590;
  background-image: url(../images/experience-1.jpg);
  object-fit: cover;
  background-size: 100% 100%;
}

.blue {
  background-color: #aab590;
  background-image: url(../images/experience-2.jpg);
  object-fit: cover;
  background-size: 100% 100%;
}

.green {
  background-color: #aab590;
  background-image: url(../images/experience-3.jpg);
  object-fit: cover;
  background-size: 100% 100%;
}

.scroll-snap-card {
  height: 48vw;
  width: 83vw;
  scroll-snap-type: y mandatory;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scroll-snap-card::-webkit-scrollbar {
  display: none;
}

.scroll-snap-card .slide {
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
}

.scroll-snap-card .slide .header{
  display: flex;
  justify-content: flex-start;
}

.scroll-snap-card .slide .title {
  margin-top: 4vw;
  line-height: 6vw;
  margin-left: 2vw;
}

.scroll-snap-card .slide .location {
  margin-left: 1vw;
  margin-top: 5vw;
  font-size: 2vw;
  font-weight: 700;
}

.scroll-snap-card .slide .body--first{
  display: flex;
}

.scroll-snap-card .slide .body--first .text{
  font-size: 3vw;
  margin-left: 2vw;
  margin-top: 21vw;
  width: fit-content;
}



.scroll-snap-card .slide .scroller {
  width: 25vw;
  height: fit-content;
  font-size: 2vw;
  animation: scroll-down 2s infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-snap-card .slide.red .scroller{
  margin-top: 28.5vw;
  margin-left: 14vw;

}


.slide.blue .title,
.slide.green .title{
  font-size: 6vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.slide.blue .body,
.slide.green .body{
  font-size: 2.7vw;
  padding-left: 18vw;
  padding-right: 2vw;
  line-height: 6vw;
}


.smaller--text{
  font-size: 2.1vw;
}

.scroll-snap-card .slide.blue .scroller
{
  margin-top: 7vw;
  margin-left: 34vw;

}

.learn--more {
  text-decoration: none;
  width: 31vw;
  height: 4vw;
  margin-top: 5vw;
  margin-left: 17vw;
  border-radius: 0.5vw;
  border: none;
  font-size: 1.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #040f16;
  color: #f5f5f5;
  overflow: hidden;
  
}

.learn--more .text{

  display: flex;
  flex-wrap: nowrap;

}

.learn--more .icon {
  width: 4vw;
  padding-top: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
}



.learn--more:hover .text{
  animation: textUp 0.5s forwards;
}
.learn--more:hover .icon {
  animation: iconRight 0.5s forwards;
}


.learn--more:active .icon {
  transform: scale(0.85);
}



.about--content .skills{
  background-color: #121212;
}

.skills .title{
  font-size: 8vw;
  line-height: 4vw;
  margin-bottom: 1vw;
  color: var(--home-bg-color);
}

.skills--body{
  height: 38vw;
  display: flex;
  justify-content: space-evenly;
}


.tagcloud {
  font-size: 1vw;
}

.tagcloud--item:hover {
  font-size: 2vw;
  cursor: pointer;
  color: #fcdb71;
  transition: all 1s;
}


.sphere{
  color: var(--home-bg-color);
}



.selection-group {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 1vw;
  color: var(--home-bg-color);
}

.selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 4vw;
  height: 4vw;
  border: 0.25vw solid #079ad9;
  border-radius: 0.5vw;
  padding: 1vw;
  transition: transform 0.3s ease;
}

.selection .icon svg {
  fill: #079ad9;
  width: 2vw;
  height: 2vw;
}

.selection label {
  text-align: center;
  font-size: 0.65vw;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1vw;
  color: #079ad9;
}

.selection.active {
  background-color: #079ad9;
  border: 0.25vw solid #ffffff;
  color: white;
  transform: scale(1.1, 1.1);
}

.selection.active .icon svg {
  fill: white;
  background-color: #079ad9;
}


.selection.active label{
  color: white;
  background-color: #079ad9;
}




#projects{
  background-color: var(--projects-bg-color);
}



.cards {
  display: flex;
  width: 100%;
  height: 100%;
  background: #212121;
  pointer-events:all;
  gap:-5px;
}

.cards > div {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  background-color: #191a1a;
  border: 0.25vw solid var(--home-bg-color);
  justify-content: center;
  align-items: center;
  transition: all 0.75s;
  z-index: 1;
  margin: -0.1vw;

}

.cards div .title {
  text-wrap: nowrap;
  font-size: 1vw;
  padding: 0.5vw;
  text-align: center;
  transform: rotate(-90deg);
  text-transform: uppercase;
  color: var(--home-bg-color);
  letter-spacing: 0.1vw;
  transition: all 0.75s;
}

.cards > div.active .title {
  opacity: 0;
  display: none;
}

.cards > div.active {
  flex: 15;
  justify-content: flex-start;
  font-size: 1.5vw;
  cursor: default;
  z-index: 0;
}

.cards > div:hover .title {
  transform: scale(1.3) rotate(-90deg);
  text-shadow: 0 0 1vw #ffffff80, 0 0 2vw #ffffff80, 0 0 3vw #ffffff80, 0 0 4vw #ffffff80; 
}


.cards .project--intro.active,
.cards .project--thesis.active {
  background-image: linear-gradient(0deg, transparent 24%, var(--projects-bg-color) 25%, var(--projects-bg-color) 26%, transparent 27%,transparent 74%, var(--projects-bg-color) 75%, var(--projects-bg-color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--projects-bg-color) 25%, var(--projects-bg-color) 26%, transparent 27%,transparent 74%, var(--projects-bg-color) 75%, var(--projects-bg-color) 76%, transparent 77%,transparent);
  background-size: 2.5vw 2.5vw;
}



video { 
  transform: translate(-5vw, 8vw);
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0.4; 
}



#baker--button{
  width: 27vw;
}

#blindness--button{
  width: 22vw;
}

#rock--button{
  width: 31vw;
}

#sketch--button{
  width: 17vw;
}

#portfolio--button{
  width: 19vw;
}

#thesis--button{
  width: 12vw;
}






.cards > div .body {
  color: var(--home-bg-color);
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding-left: 6vw;
  padding-bottom: 3vw;
  opacity: 0;
  display: none;
}


.cards > div .body.active {
  display: flex;
  animation: fadeIn 0.75s ease forwards;
}


.cards > div .body .fake--title {
  font-size: 2vw;
  margin-bottom: 0.5vw;
}

.cards > div .body .body--content {
  font-size: 1.0vw;
  font-weight: bolder;
  margin-bottom: 1vw;
}

.arrow{
  display: flex;
}

.arrow span {
  display: block;
  width: 0.75vw;
  height: 0.75vw;
  border-bottom: 0.3vw solid var(--home-bg-color);
  border-right: 0.3vw solid var(--home-bg-color);
  animation: move-fade 10s ease-in-out infinite;
  margin-left: -1vw;
}

.cards > div .body img {
  width: 13vw;
  height: 13vw;
}




#contact{
  background:#99bbad;
}

a[id="home"]:target ~ #home{
  transform:translate3d(0,0,0);
}
a[id="about"]:target ~ #about{
  transform:translate3d(0,-100%,0);
}
a[id="projects"]:target ~ #projects{
  transform:translate3d(0,-200%,0);
}
a[id="contact"]:target ~ #contact{
  transform:translate3d(0,-300%,0);
}
