/* this is some magical font-importing.  
you'll learn about it later. */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');


@keyframes blinkCursor {
  50% {
    border-right-color: transparent;
  }
}


@keyframes blink {
  0%, 100%{
    color: var(--home-bg-color);
  }
  50%{
    color: #f0e3d000;
  }
}

@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: -3.7vw;}
  30% {margin-top: -3.2vw;}

  40% {margin-top: -8.2vw;}
  60% {margin-top: -7.7vw;}


  70% {margin-top: -2.7vw;}
  80% {margin-top: -3.2vw;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
}

@keyframes wave-animation {
  0% { transform: rotate( 0.0deg); }
 10% { transform: rotate(14.0deg); }  
 20% { transform: rotate(-8.0deg); }
 30% { transform: rotate(14.0deg); }
 40% { transform: rotate(-4.0deg); }
 50% { transform: rotate(10.0deg); }
 60% { transform: rotate( 0.0deg); } 
100% { transform: rotate( 0.0deg); }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}



* {
  margin: 0;
  padding: 0;
}
body,
html {
  --home-bg-color: #f0e3d0;
  --projects-bg-color: #efdcc1;
  height: 100%;
  overflow: hidden;
}

.curtain{
  display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #18191f;
    z-index: 1000;
}

.fade-out {
  animation: fadeOut 1.5s ease forwards;
}

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-style: normal;
}


nav {
  text-align: right;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: #000;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: var(--home-bg-color);
  font-size: 1.2vw;
  display: block;
  text-decoration: none;
  padding: 0.5vw;
  padding-top: 0.6vw;
  padding-bottom: 0.6vw;
}

#navs{
  margin-right: 3vw;
}


#icon{
  margin-right: 7vw;
}


.waviy span {
  display: inline-block;
  animation: flip 3s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}

#time{
  font-size: 1vw;
  color: var(--home-bg-color);
  margin-right: 33vw;
}



#blinking-colon {
  animation: blink 1s linear infinite;
}

section{
  height:100%;
  width:100%;
  display:table;
  pointer-events:none;
  z-index:0;
  transition: transform 0.45s cubic-bezier(0,0,0.21,1);
}
section h1{
  display:table-cell;
  vertical-align:middle;
  text-align:center;
  color:#fff;
  font-weight:100;
  font-size:10vw;
}

#home{
  padding-top: -1vw;
  margin: 0;
  background-color: var(--home-bg-color);
}


.header{
  display: flex;
  justify-content: center;
  width: 100vw;
}

.header img{
    width: 100%;
    object-fit: contain;
    border: solid 0.65vw black;
    
}


.subheader {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 3vw;
  padding-bottom: 1vw;
  padding-left: 3vw;
}

.subheader .title{
  color: #000000;
  font-weight: 400;
  font-size: 7vw;
  letter-spacing: 0;
  line-height: 0.9;
  word-spacing: -1vw;
  padding-bottom: 2.5vw;
  
}

.subheader p{
  color: #000000;
  font-size: 1vw;
  text-align: left; 
}


#home .subheader .animation > div > div {
  font-size: 4.5vw;
  padding: 0.3vw 0.5vw;
  height: 4.5vw;
  margin-bottom: 4.5vw;
  display:inline-block;
}

#home .subheader .animation div:first-child {
  animation: text-animation 8s infinite;
}

#home .subheader .first div {
  color:#20a7d8;
}
#home .subheader .second div {
  color:#CD921E;
}
#home .subheader .third div {
  color:#c10528;
}

#home .bio{
  margin-top: 3vw;
  font-size: 1.5vw;
  margin-bottom: 2vw;
}




#about{
  background:#eaac7f;
 }

 .about--content{
  display: flex;
  pointer-events: visible;
  height: 100%;
  }



.about--navigation {
  display: flex;
  justify-content: center;
  width: auto;
  border: 2px solid green;
  margin-right: 6vw;
  margin-left: 2vw;
  width: 9vw;
}

.about--navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about--navigation button {
  width: 100%;
  cursor: pointer; 
  margin-top: 7vw;
}


.about--text{
  width: 60vw;
  height: 100%;
  border: 2px solid red;
  display: flex;
  justify-content: flex-start;
}

.hidden {
  display: none; 
}

.show {
  display: block; 
}

.subheader--title {
  color: #e5e5e5;
  text-transform: uppercase;
  display: flex;
  overflow: hidden;
  height: 6vw;
}

#wave {
  transform-origin: 70% 70%;   
  display: inline-block;
  animation: wave-animation 2.5s infinite;        

}

.subheader--title p {
  font-size: 4.5vw;
  width: 55vw;

}



#projects{
  background-color: var(--projects-bg-color);
}


.content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1vw;
  font-weight: 500;  
  padding: 2vw;
  text-align: center;
}


.content img {
  width: 10vw;
  height: 10vw;
  object-fit: cover;
  border: 0.25vw solid #000000;
  border-radius: 2vw;
  pointer-events: visible;
  background: #fff;

}

.content p{
  font-size: 0.8vw;
}



#contact{
  background:#99bbad;
}

a[id="home"]:target ~ #home{
  transform:translate3d(0,0,0);
}
a[id="about"]:target ~ #about{
  transform:translate3d(0,-100%,0);
}
a[id="projects"]:target ~ #projects{
  transform:translate3d(0,-200%,0);
}
a[id="contact"]:target ~ #contact{
  transform:translate3d(0,-300%,0);
}
